<h5>My users</h5>
<div class="row">
  <% @users.each do |user|%>
    <div class="card mr-5 mb-5" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
        <p class="card-text">Age: <%= user.age %></p>
        <p class="card-text">Gender: <%= user.gender %></p>
      </div>
      <div class="send-message mb-3">
        <%= link_to 'Send message', coach_messages_path(user_id: user.id),
                    method: :get, class: 'btn btn-dark'%>
      </div>
    </div>
  <% end %>
</div>