<div class="container">
  <div class="card bg-light mb-3" style="max-width: 180rem;">
    <div id="STEP" class="card-header">
      <%= @current_technique.name %>
      <% if @step.position == 1 %>
        <span><%= @step.position%> step completed<span>
      <% else %>
        <span><%= @step.position%> steps completed<span>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @step.title %></h5>
      <p class="card-text"><%= @step.body %></p>
    </div>
  </div>
  <div class="passed">
    <% if @show_modal %>
      <!-- Кнопка Passed открывает модальное окно -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Passed
      </button>
    <% else %>
      <!-- Обычная ссылка на следующий шаг -->
      <%= link_to 'Passed', perform_complete_step_path(
                    id: @step.id, technique_id: @current_technique.id,
                    position: @step.position),
                    method: :post, class: 'btn btn-dark'%>
    <% end %>
  </div>
  <div class="restart">
    <%= link_to 'Restart', restart_steps_path(
                  technique_id: @current_technique.id),
                  method: :post, class: 'btn btn-dark'%>
  </div>

  <% if @show_modal %>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Поздравляю!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Вы завершили все шаги! Отличная работа!
          </div>
          <div class="modal-footer">
            <% [:like, :dislike].each do |type| %>
              <%= link_to type.to_s.humanize, users_techniques_ratings_rating_path(technique_id: @current_technique.id, rate: type), method: :post, class: "btn #{type == :like ? 'btn-success' : 'btn-danger'}" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
  .passed {
    position: absolute;
    right: 7.3em;
  }
  .card-header {
    text-align: left;
  }
  #STEP {
    display: flex;
    justify-content: space-between;
  }
</style>